<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>My Sales</h3>
      </div>

      <% if flash[:notice].present? %>
        <div class="row">
          <div class="col-md-10">
            <h2>Purchase completed!  Woo hoo!</h2>
          </div>
        </div>
      <% end %>

      <div class="panel-body">
        <% if flash[:notice].present? %>
          <div class="row">
            <div class="col-md-10">
              <h2>Purchase completed!  Woo hoo!</h2>
            </div>
          </div>
        <% end %>

        <% if current_user.orders.length == 0 %>
          <div class="row">
            <div class="col-md-8">
              <h3>You have no orders at this time</h3>
            </div>
          </div>
        <% end %>

        <% @services.each do |service| %>
          <% service.orders.each do |order| %>
            <div class="row">
              <div class="col-md-2">
                <%= link_to service_path(order.service) do %>
                  <%= image_tag order.service.image.url(:thumb) %>
                <% end %>
              </div>
              <div class="col-md-2">
                <%= link_to service_path(order.service) do %>
                  <h4><%= order.service.title %></h4>
                <% end %>
              </div>
              <div class="col-md-2">
                <h5>Qty: <%= order.quantity %> <br/>
                  Price: $<%= order.price %></h5>
              </div>
              <div class="col-md-2">
                <span><%= image_tag avatar_url(order.user), class:"navbar-avatar img-circle" %></span>
                <h5><%= order.user.fullname %></h5>
              </div>
              <div class="col-md-2">
                <h5><%= order.created_at.strftime('%b %d, %Y') %></h5>
              </div>
              <div class="col-md-2">
                <h5>Total: $<%= order.total_price %></h5>
              </div>
            </div>
            <hr>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

